/*import*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

/*Navbar*/
    /*Parametre marge auto*/
body{
    margin-top: 0 auto;
    margin: 0 auto;
}

    /*Parametre Nav color and largeur*/
header {
    height: 70px;
    background-color: #FF9E2B;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

    /*Parametre Navbar txt and lien and transition*/

BMG {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: white;
}

ul {
    width: auto;
    float: right;
    margin-top: 5px;
    padding-top: 5px;
}

li {
    display: inline-block;
    padding: 15px 20px;
}


a.test {
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: white;
    font-size: 100%;
    font-weight: bold;
}

    a:hover {
        color: #F0c330;
        transition: 0.5s;
    }

/*Text In Body or Page*/
    /*Bienvenue*/

section.hello {
    background-image: url("img/background.png");
    width: 100%;
    background-size: cover;
    height: 700px;
    position: center;
}


    /*Image Defillement Hello*/

.img_grpdiv {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    background-size: cover;
    position: absolute;
    padding-top: 30px;
}

.slide {
    float: left;
    background-size: cover;
    opacity: 0.2;
    height: 600px;
    align-items: center;
}

.slides {
    width: calc(1000px * 4);
    animation: glisse 15s infinite;
    background-size: cover;
}

.slider {
    width: 1000px;
    overflow: hidden;
}

@keyframes glisse {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }


    25% {
        transform: translateX(-1000px);
    }

    35% {
        transform: translateX(-1000px);
    }

    50% {
        transform: translateX(-2000px);
    }

    60% {
        transform: translateX(-2000px);
    }

    75% {
        transform: translateX(-3000px);
    }

    85% {
        transform: translateX(-3000px);
    }

    100% {
        transform: translateX(0);
    }
} 


/*title*/

p.hellotittle {
    position: center;
    text-align: center;
    font-size: 550%;
    font-family: 'Bebas Neue', cursive;
    color: white;
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

/*vers le bas*/

p.lien-bas_pages {
    position: absolute;
    color: white;
    margin-top: 430px;
    margin-left: 3%;
    font-family: 'Rokkitt', serif;
    font-size: 130%;
    text-decoration: none;
    box-shadow: none;
}


/*Logo Reseaux Sociaux*/
section.SN_logo {
    position: absolute;
    display: flex;
    padding-top: 150px;
    height: 100px;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.test404 {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100px;
}


.logodiv1 {
    margin-left: 0.5%;
}

.logodiv2 {
    margin-left: 0%;
}

.logodiv2 {
    margin-left: 10%;
    height: 100px;
}

.logodiv3 {
    margin-left: 10%;
    height: 100px;
}


.logodiv4 {
    margin-left: 10%;
}



    /*Question acceuil*/

Question_Title {
    position: center;
    font-size: 200%;
    padding-top: 10px;
    text-align: center;
    padding: 7px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Permanent Marker', cursive;
}


section.Question {
    position: absolute;
    font-size: 170%;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Rokkitt', serif;
}

.button_lieu{
    display: flex;
    justify-content: center;
    padding-top: 600px;
    
}
    /*background*/
    .background_orange {
        display: flex;
        background-image: url("img/background.png");
        width: 100%;
        background-size: cover;
        height: 700px;
        margin-top: 100px;
    }

/*ilustration parametre*/

.il_page {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.il1 {
    float: left;
}

/*Taille & espace entre*/
.il_musique {
    width: 170px;
}

.il_manger {
    width: 170px;
    margin-left: 50px;
}

.il_fete {
    width: 170px;
    margin-left: 50px;
}

.il_partager {
    width: 170px;
    margin-left: 50px;
}
    /*Illustration text*/

/*text illustrations associ�s*/

.il_txt {
    overflow: hidden;
    width: 100%;
    margin-top: 420px;
    position: absolute;
    
}

.center_txt_il {
    display: flex;
    justify-content: center;
}

espace_txt_il {
    margin-left: 3.7%;
}


.text_il {
    color: white;
    float: left;
    font-family: 'Alfa Slab One', cursive;
    font-weight: normal;
    font-size: 110%;

}

/*Texte espace enttre*/

musique {
    margin-left: 180px;
}

manger {
    margin-left: 268px;
}

danser {
    padding-left: 210px;
}

partager {
    padding-left: 145px;
}

/*Fin de page*/

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 5px;
    font-size: 150%;
}

