/*background*/

.background_orange {
    display: flex;
    background-image: url("img/background.png");
    width: 100%;
    background-size: cover;
    height: 700px;
    margin-top: 0%;
}

/*ilustration parametre*/

.il_page {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.il1{
    float: left;
}

.il_musique{
    width: 150px;
}

/*Taille & espace entre*/

.il_manger {
    width: 150px;
    margin-left: 50px;
}

.il_fete {
    width: 150px;
    margin-left: 50px;
}

.il_partager {
    width: 150px;
    margin-left: 50px;
}

/*text illustrations associés*/

.il_txt {
    overflow: hidden;
    width: 100%;
    margin-top: 350px;
    position: absolute;
}

.center_txt_il{
    display: flex;
    justify-content: center;
}

espace_txt_il{
    margin-left: 80px;
}


.text_il {
    color: white;
    float: left;
}

/*Texte espace enttre*/

musique {
    margin-left: 175px;
}

manger{
    margin-left: 230px;
}

danser {
    padding-left: 210px;
}

partager {
    padding-left: 145px;
}